.features__box {
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: $gray-background;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .features__icon {
    position: absolute;
    width: 70px;
    height: 70px;
  }

.features__title{
    font-size: 14px;
    line-height: 1.14 ;    
    font-weight: $bold;    
    text-transform: uppercase;
    color: $text-bold-color;
    margin-bottom: 10px;
}

.features__text{
    line-height: 1.71;
}

.features__item{
    flex-wrap: wrap;
    

    &:not(:last-child){
    margin-right: 30px;
}
}

.features{
    display: flex;    
}