.feature__icon {
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: $gray-background;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .icon__svg {
    position: absolute;
    width: 70px;
    height: 70px;
  }

.feature__title{
    font-size: 14px;
    line-height: 1.14 ;    
    font-weight: $bold;    
    text-transform: uppercase;
    color: $text-bold-color;
    margin-bottom: 10px;
}

.feature__text{
    line-height: 1.71;
}

.feature__item{
    flex-wrap: wrap;
    justify-content: space-between;}
.feature__item:not(:last-child){
    margin-right: 30px;
}
.feature{
    display: flex;    
}