.footer__web{
    font-family: Raleway;
    font-weight: $bold;
    font-size: 26px;
    line-height: 1.19;
    color: $accent-color;
    display: block;
    margin-bottom: 20px;
}

.footer__row{
    @media screen and (min-width:768px){
        justify-content: space-around;
        display: flex;
        align-items: baseline;        
    }
    @media screen and(max-width:1199px){
        margin-bottom: 60px;        
    }
}

.footer {        
    background-color: $footer-color;
    padding: 60px 0;
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
      }
}

.footer__flex{
    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: baseline;
      }
}

.footer__container{
    @media screen and (max-width: 767px) {
        margin-bottom: 60px;
    }
    @media screen and (max-width:1199px){
        text-align: center;       
      }    
    @media screen and (min-width: 1200px) {
        margin-right: 70px;
      }
}

.footer__item:not(:first-child){
    margin-top: 9px;
}

.footer__map{    
    color: $white;
}
.footer__address{    
    color: var(--transparent-text-color);

    &:hover,
    &:focus {
        color: $accent-color;
    }
}
.studio-footer {
    color: $white;
}

