.modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    width: 528px;
    min-height: 581px;
    background-color: $white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: relative;
    transform:scale(1) translateY(50px);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.modal__close_icon {
    width: 18px;
    height: 18px;
    fill: #000;

    &:hover,
    &:focus{
        fill:$accent-color;
}
}
