$text-color: #757575;
$text-bold-color: #212121;
$transparent-text-color: rgba(255, 255, 255, 0.6);
$accent-color: #2196f3;
$hero-button-hover-color: #188ce8;
$footer-color: #2f303a;
$gray-background: #f5f4fa;
$header-line-color: #ececec;
$white: #fff;
$regular: 500;
$bold: 700;
